<html>
    <head>
        <link rel="stylesheet" href="./styles.css">
      </head>
  <body>
   <%- include('dashboard',{financas: financas})%>
  <button href = "/new"><a href = "/new">novo</button>
  </body>
</html>
